{% extends "base.html" %}
<!-- head -->
{% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='styles/subpage.css')}}"
/>
<title>About FunnyBone</title>
<!-- /head -->
{% endblock %}
<!-- body -->
{% block body %}
<div>
  <h1 class="title">About FunnyBone</h1>
  <h3>What Is FunnyBone?</h3>
  <p>
    <span class="hl">
      FunnyBone is an AI-powered humour search engine &mdash; it uses machine
      learning to find funny and unfunny words that are semantically similar to
      the given prompt. You can use it in many ways: creating attention-grabbing
      headlines, setting a lighthearted mood for a presentation, or simply
      adding humour to your writing. Whatever the context, FunnyBone can help
      you brainstorm ideas.
    </span>
  </p>
  <h3>How FunnyBone Came To Be</h3>
  <p>
    <span class="hl">
      FunnyBone originated as a tech demo for a humour-sorting feature I
      implemented while working at Datamuse. Written under the MIT license
      (alongside permission from my boss), I gave the demo a new user interface,
      which I released as FunnyBone. The finalized version of the humour-sorting
      feature is in
      <a href="https://onelook.com/thesaurus" target="_blank"
        >OneLook Thesaurus</a
      >, which offers more advanced usage of the FunnyBone feature set (along
      with other cool features).
    </span>
  </p>
  <h3>Credits</h3>
  <p>
    <span class="hl">
      To rank the words by their funniness, I used techniques discussed in the
      NLP paper:
      <a href="https://arxiv.org/abs/1902.02783" target="_blank">
        Cockamamie Gobbledegook for Nincompoops</a
      >. Doug Beeferman, my boss at
      <a href="https://datamuse.com" target="_blank">Datamuse</a>, guided me and
      pointed me towards the resources I needed to complete this project.</span
    >
  </p>
  <p>
    <span class="hl">
      And there's
      <a href="https://www.maxhuang.dev" target="_blank">me</a> :)</span
    >
  </p>
  <p>
    <a class="button" href="/">Back to the Main Page</a>
  </p>
</div>
<!-- /body -->
{% endblock %}
