<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="An AI-powered search engine that finds funny words related to the prompt."
    />
    <meta
      name="keywords"
      content="funny, bone, funnybone, humor, humour, search, engine"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='assets/logo_icon.ico')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/styles.css')}}"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="app">{% block body %}{% endblock %}</div>
  </body>
</html>
