<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='assets/logo_icon.ico')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/styles.css')}}"
    />
    <title>FunnyBone</title>
  </head>
  <body>
    <div class="app">
      <div class="logo">
        <span>FunnyBone</span>
        <img
          src="{{url_for('static', filename='assets/logo_icon.svg')}}"
          draggable="false"
        />
      </div>
      <div class="motto">
        Feel the <u style="text-decoration-style: wavy; color: red">humor</u> in
        your bones.
      </div>
      <div class="search-bar">
        <div class="search-icon">
          <img
            src="{{url_for('static', filename='assets/search_icon.svg')}}"
            draggable="false"
          />
        </div>
        <input
          type="text"
          id="search-input"
          placeholder="Search..."
          value="{{query if query else ''}}"
        />
      </div>
      <div class="results">
        {% if not error %}
        <div class="query">{{query}}</div>
        <div class="funny">
          <span class="header">Funniest</span>
          <ul>
            {% for term in funniest %}
            <li>{{term}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="not-funny">
          <span class="header">Unfunniest</span>
          <ul>
            {% for term in unfunniest %}
            <li>{{term}}</li>
            {% endfor %}
          </ul>
        </div>
        {% elif not query %}
        <div class="help-text"></div>
        {% else %}
        <div class="error">{{query if query else ''}}</div>
        {% endif %}
      </div>
      <div class="spacer"></div>
      <footer>
        <ul>
          <li>
            <a href="https://arxiv.org/abs/1902.02783" target="_blank">
              Inspiration For This
            </a>
          </li>
          <li class="coming-soon">How It Works</li>
        </ul>
      </footer>
    </div>
    <script>
      const searchInputDOM = document.querySelector("#search-input");
      searchInputDOM.addEventListener("keyup", (e) => {
        if (e.key === "Enter") {
          const query = searchInputDOM.value.trim();
          location.replace(`?q=${encodeURIComponent(query)}`);
        }
      });
    </script>
  </body>
</html>
