.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app > .spacer {
  flex-grow: 1;
}

.app > * {
  flex-shrink: 0;
  flex-grow: 0;
}

.logo {
  font-size: 56px;
  transform: rotate(2deg);
}

.motto {
  font-size: 22px;
  margin-top: 15px;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  transform: rotate(-2deg);
}

.search-bar {
  display: flex;
  width: 100%;
  max-width: 540px;
  height: 40px;
  margin-top: 30px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fef8f1;
  /* transform: rotate(1deg); */
}

.search-bar > input[type="text"] {
  margin: 0;
  padding: 0 12px 0 0;
  flex-grow: 1;
  outline: none;
  border: none;
  background: none;
  color: #860;
  font-family: inherit;
  letter-spacing: inherit;
  font-size: 22px;
}
.search-bar > input[type="text"]::placeholder {
  color: #888;
}

.search-icon {
  margin: 0;
  padding: 0;
  width: 40px;
  background: none;
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
}

.search-icon > img {
  width: 16px;
  height: 16px;
  padding: 12px;
  filter: brightness(0);
}

.results {
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  margin-top: 60px;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  background-color: #fda;
  transform: rotate(-2deg);
}

.results .query {
  margin-bottom: 20px;
  color: #860;
}
.results .query::before {
  content: "Analyzed terms related to ";
  color: #000;
}
.results .query::after {
  content: ".";
  color: #000;
}

.results .funny {
  transform: rotate(3deg);
  padding-left: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.results .not-funny {
  transform: rotate(-3deg);
  padding-right: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.results .more-info a {
  color: #860;
}

.results ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.3em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 0.1em;
}

.results .funny ul {
  justify-content: flex-start;
}

.results .not-funny ul {
  justify-content: flex-end;
}

.results ul > li:not(:last-of-type)::after {
  color: #000;
  content: ";";
}

.results .funny ul > li:nth-child(2n + 1) {
  color: green;
}
.results .funny ul > li:nth-child(2n) {
  color: darkgreen;
}

.results .not-funny ul > li:nth-child(2n + 1) {
  color: red;
}
.results .not-funny ul > li:nth-child(2n) {
  color: darkred;
}

.results .header {
  position: relative;
  font-family: "Permanent Marker", sans-serif;
  letter-spacing: 0;
  font-size: 0.85em;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
.results .header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: calc(100% - 8px);
  border-top: 2px solid currentColor;
  transform: rotate(-2deg) translate(-2px, -2px);
}

.results .help-text::before {
  content: "Search for funny related terms.";
}

.results .error::before {
  content: "Whoops! Not enough results for \201C";
}
.results .error::after {
  content: "\201D.";
}

footer {
  text-align: center;
  font-size: 18px;
  padding: 1em;
  padding-top: 60px;
}

footer ul {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer ul > li:not(:last-child)::after {
  content: "|";
  margin-left: 0.5em;
  margin-right: 0.5em;
}
