@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 60px min(5vw, 5vh);
  background: repeating-linear-gradient(
    45deg,
    #fda,
    #fda 10px,
    #fc8 10px,
    #fc8 20px
  );
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-family: "Chewy", sans-serif;
  font-size: 56px;
  line-height: 1;
  color: #860;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  transform: rotate(-2deg);
}

.logo > img {
  height: 1em;
}

.search-bar {
  display: flex;
  width: 100%;
  max-width: 540px;
  height: 40px;
  margin-top: 40px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #f5f5f1;
  font-family: "Open Sans", sans-serif;
  border: 3px solid #000;
  box-shadow: 8px 8px 0 #333;
  transform: rotate(1deg);
}

.search-bar > input[type="text"] {
  margin: 0;
  padding: 0 12px 0 0;
  flex-grow: 1;
  outline: none;
  border: none;
  background: none;
  color: #860;
  font-family: inherit;
  font-size: 19px;
}
.search-bar > input[type="text"]::placeholder {
  color: #888;
}

.search-icon {
  margin: 0;
  padding: 0;
  width: 40px;
  background: none;
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
}

.search-icon > img {
  width: 16px;
  height: 16px;
  padding: 12px;
  filter: brightness(0);
}

.results {
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  margin-top: 60px;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  background-color: #fda;
  border: 3px solid #000;
  box-shadow: 8px 8px 0 #333;
  transform: rotate(-2deg);
}

.results .query {
  margin-bottom: 20px;
  color: #860;
}
.results .query::before {
  content: "Processed terms related to ";
  color: #000;
}
.results .query::after {
  content: ".";
  color: #000;
}

.results .funny {
  transform: rotate(3deg);
  margin-bottom: 20px;
  margin-right: 72px;
}

.results .not-funny {
  transform: rotate(-3deg);
  margin-left: 72px;
}

.results ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.3em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.results ul > li:not(:last-of-type)::after {
  color: #000;
  content: ";";
}

.results .funny ul > li:nth-child(2n + 1) {
  color: green;
}
.results .funny ul > li:nth-child(2n) {
  color: darkgreen;
}

.results .not-funny ul > li:nth-child(2n + 1) {
  color: red;
}
.results .not-funny ul > li:nth-child(2n) {
  color: darkred;
}

.results .header {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.67em;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
.results .header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 100%;
  border-top: 2px solid currentColor;
  transform: rotate(1deg);
}

.results .help-text::before {
  content: "Search for funny related terms.";
}

.results .error::before {
  content: "Whoops! Not enough results for \201C";
}
.results .error::after {
  content: "\201D.";
}
