.app {
  padding-bottom: 60px;
  text-align: center;
}

.app > div {
  margin: 0 auto;
  max-width: 720px;
}

.hl {
  background-color: #fda;
  padding: 0.2em;
}

.flowchart {
  box-sizing: border-box;
  background-color: #fef8f1;
  padding: 15px;
  width: 100%;
}

.title {
  font-family: "Chewy", sans-serif;
  letter-spacing: 0;
}
